ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
    display: inline-block;
    color: #000;
    font-family: Arial, sans-serif;
}

.leftLinks{
    margin-left: 9px;
}

.leftLinks ul a{
    opacity: 0.75;
}

header li{
    display: inline;
    padding-left: 15px;
}

header{
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
}

.rightLinks{
    display: flex;
    align-items: center;
    padding: 0 30px;
}

header li:nth-child(2){
    padding-right: 15px;
}

.menu {
    background: url('http://ssl.gstatic.com/gb/images/i1_1967ca6a.png');
    display: inline-block;
    height: 30px;
    width: 30px;
    background-position: -132px -38px;
    opacity: .55;
  }

  .menu:hover{
    opacity: 1;
  }

  .rightLinks a, .leftLinks a{
      font-size: 13px;
  }

  .rightLinks ul a:hover, .leftLinks a:hover{
    text-decoration: underline;
}

.rightLinks ul a:hover{
    opacity: 0.75;
}

.rightLinks ul a{
    color: rgba(0, 0, 0, 0.87);
}

.b-signIn{
    padding: 0 12px;
    margin-left: 15px;
    border-radius: 2px;
    line-height: 28px;
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: #4285f4;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    color: white;
    cursor: default;
}

.b-signIn:hover{
    box-shadow: 0px 0px 4px -2.5px rgba(26,13,171,1);
}

main{
    margin: 100px auto 0 auto;
}

.logo img{
    display: block;
    margin: 0 auto;
    width: 272px;
}

.logo{
    display: block;
    margin: 0 auto;
    width: 272px;
}

.searchBar{
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 44px;
    margin: 30px auto;
    width: 582px;
    align-items: center;
    display: flex;
}

.searchBar:hover{
    box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.56);
}

.shadow{
    box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.56);
}

.searchField{
    font: 16px arial,sans-serif;
    line-height: 34px;
    height: 34px !important;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    font-size: 16px;
    width: 100%;
    border: none;
    outline: none;
}

.loop {
    margin: auto 15px;
}

.loopIcon {
    align-items: center;
    margin-top: 8px;
    color: #9AA0A6;
    display: inline-block;
    fill: currentColor;
    line-height: 24px;
    position: relative;
    width: 20px;
}

.mic{
    flex: 1 0 auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 15px 0 7px;
    width: 24px;
    line-height: 44px;
}

.micIcon{
    background: url(//www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png) 0 0 no-repeat;
    background-size: 24px;
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

.mainButtons{
    justify-content: center;
    display: flex;
}

.b-main{
    background-image: -webkit-linear-gradient(top, rgb(245, 245, 245), rgb(241, 241, 241));
    background-color: rgb(242, 242, 242);
    border: 1px solid rgb(242, 242, 242);
    border-radius: 4px;
    color: rgb(95, 99, 104);
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 0px 4px;
    padding: 5px 16px;
    line-height: 27px;
    min-width: 54px;
    cursor: pointer;
}

.b-main:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px;
    background-image: -webkit-linear-gradient(top, rgb(248, 248, 248), rgb(241, 241, 241));
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(198, 198, 198);
    color: rgb(34, 34, 34);
}

footer{
    display: flex;
    justify-content: space-between;
    background: rgb(242, 242, 242);

    border-top: 1px solid rgb(228, 228, 228);

    bottom: 0px;

    font-size: 14px;
    position: absolute;
    width: 100%;

}

footer .right ul, footer .left ul{
    display: flex;
}

footer .left {
    margin-left: 27px;
}

footer a{
    padding-right: 27px;
    font-size: 14px;
    color: rgb(95, 99, 104);
    display: block;
}

footer a:hover{
    text-decoration: underline;
}

footer li{
    padding: 0;
}

@media (max-width: 720px){
    .logo img{
        width: 202px;
    }

    .logo{
        width: 202px;
    }

    .searchBar{
        width: 512px;
    }
}

@media (max-width: 620px){
    footer{
        font-size: 11px;
    }

    footer a{
        font-size: 11px;
    }

    .searchBar {
        width: 442px;
    }
    
    .logo img {
        width: 182px;
    }

    .logo{
        width: 182px;
    }

    .b-main {
        font-size: 12px;
        line-height: 25px;
    }    
}

@media (max-width: 525px){
    footer{
        font-size: 10px;
    }

    footer a{
        font-size: 10px;
    }

    .searchBar {
        width: 402px;
    }
    
    .logo img {
        width: 162px;
    }

    .logo{
        width: 162px;
    }

    .b-main {
        font-size: 11px;
        line-height: 24px;
    }    

    .rightLinks a, .leftLinks a {
        font-size: 12px;
    }
}

@media (max-width: 480px){
    footer{
        font-size: 8px;
    }

    footer a{
        font-size: 8px;
    }

    .searchBar {
        width: 362px;
    }
    
    .logo img {
        width: 152px;
    }

    .logo{
        width: 152px;
    }

    .b-main {
        font-size: 9px;
        line-height: 22px;
    }    

    .rightLinks a, .leftLinks a {
        font-size: 10px;
    }
}

@media (max-width: 420px){
    footer a{
        padding-right: 20px;
    }

    footer .left {
        margin-left: 20px;
    }

}

@media (max-width: 390px){
    footer{
        font-size: 6px;
    }

    footer a{
        font-size: 6px;
    }

    .searchBar {
        width: 280px;
    }
    
    .logo img {
        width: 130px;
    }

    .logo{
        width: 130px;
    }

    .b-main {
        font-size: 8px;
        line-height: 22px;
    }    

    .rightLinks a, .leftLinks a {
        font-size: 8px;
    }

    .rightLinks{
        padding: 0 30px 0 0;
    }

    header li {
        padding-left: 10px;
    }

    header li:nth-child(2) {
        padding-right: 10px;
    }

    .b-signIn {
        margin-left: 10px;
    }
}